extends layout

block content
    div.container(style="max-width:300px")
        form(method='POST' action='/changepwd')
            div.form-group
                label(for='cpw') Current Password:
                input#cpw.form-control(type='password', required, name='password')
            div.form-group
                label(for='npw') New Password:
                input#npw.form-control(type='password', required, name='new_password')
            div &nbsp;
            div(style="text-align:center")
                button.btn.btn-primary(type='submit') Change Password
