extends layout

block content
    div(class="container-fluid")
    input(type='hidden' id='h_location' value= location)
    iframe(id="giFrame", width="950" height="800" frameborder="0") 
    
    //- iframe(width="950" height="800" src="https://datastudio.google.com/embed/reporting/be4ab638-e565-4fe4-944d-2a16e09e7ebb/page/ccacC?params=%7B%22df6%22:%22include%25EE%2580%25800%25EE%2580%2580EQ%25EE%2580%2580MME%22%7D" frameborder="0" style="border:0" allowfullscreen)
    script(src="/javascripts/chart-scripts.js")
    
    //- div(class="row")
    //-     div(class="col")
    //-         //- button.btn.btn-info(type="button", id="truckexpense-add-new" , onClick="chartData()") Sales Chart   
    //-         canvas(id="mycanvas")
    //-         script(src="/javascripts/chart-scripts.js")
    //-     div(class="col")
    //-         button.btn.btn-info(type="button", id="truckexpense-add-new" , onClick="chartData()") Sales Chart   
    //-         canvas(id="mycan")
    //-         script(src="/javascripts/chart-scripts.js")
    //- div(class="row")
    //-     div(class="col")
            
    //-         canvas(id="chartPic")
    //-         script(src="/javascripts/chart-scripts.js")
    //-     div(class="col")
              
    //-         canvas(id="barPic")
    //-         script(src="/javascripts/chart-scripts.js")
    