extends layout

block content
    div.container(style="max-width:350px; padding: 20px; background: rgba(54, 52, 52, 0.35); border-radius: 10px;")
        h2(style="text-align:center; color: black;") Reset Your Password
        div &nbsp;
        div &nbsp;

        // If there's a message, display it at the top of the form
        if message
            div(class="alert alert-danger") #{message}

        form(method="POST" action="/password/reset")
            div.form-group
                label(for="username") Select User:
                select#username.form-control(name="username", required)
                    each user in users
                        option(value=user.Person_id) #{user.fullName}

            div.form-group
                label(for="new-password") New Password:
                input#new-password.form-control(type="password" placeholder="Enter new password" required name="newPassword")

            div.form-group
                label(for="confirm-password") Confirm New Password:
                input#confirm-password.form-control(type="password" placeholder="Confirm new password" required name="confirmPassword")

            div &nbsp;
            div(style="text-align:center")
                button.btn.btn-primary(type="submit") Reset Password

        br
        div(style="text-align:center")
            a(href="/" class="btn btn-secondary" style="margin-right: 10px;") Cancel            
            a(href="/" class="btn btn-secondary") Back to Login
