extends layout

block content
    div.container(style="max-width:350px; padding: 20px; background: rgba(54, 52, 52, 0.85); border-radius: 10px;")
        h2(style="text-align:center; color: white;") Reset Your Password
        
        // Form for resetting the password
        form(method="POST" action="/password/reset")
            
            // Dropdown for selecting username
            div.form-group
                label(for="username") Select User:
                select#username.form-control(name="username", required)
                    each user in users
                        option(value=user.Person_id) #{user.fullName}

            // Input for new password
            div.form-group
                label(for="new-password") New Password:
                input#new-password.form-control(type="password" placeholder="Enter new password" required name="newPassword")
            
            // Input for confirming the new password
            div.form-group
                label(for="confirm-password") Confirm New Password:
                input#confirm-password.form-control(type="password" placeholder="Confirm new password" required name="confirmPassword")
            
            div &nbsp;
            div(style="text-align:center")
                button.btn.btn-primary(type="submit") Reset Password

            br
            div(style="text-align:center")
                a(href="/login" style="color:white") Back to Login
