extends layout

block content
    // Override layout elements for location selector page
    style.
        body { padding: 0 !important; margin: 0 !important; overflow: hidden !important; }
        #petromath-heading { display: none !important; }
        .alert { display: none !important; }
        nav { display: none !important; }
        footer { display: none !important; }
    
    div.location-container
        div.container-fluid.h-100.d-flex.align-items-center.justify-content-center
            div.row.w-100.justify-content-center
                div.col-11.col-sm-8.col-md-6.col-lg-4.col-xl-3
                    // App-style header similar to login
                    div.text-center.mb-4
                        div.app-logo.mb-3
                            i.bi.bi-geo-alt-fill.text-white(style="font-size: 1.6rem;")
                        h2.app-title.mb-1.text-white PetroMath
                        p.app-subtitle.text-white Select Your Location
                    
                    // Location selector card
                    div.location-card.shadow-lg
                        div.card-header.text-center.py-3
                            h4.mb-0.text-primary Choose Location
                        
                        div.card-body.p-4
                            form(method='POST' action='/select-location')
                                div.form-group.mb-4
                                    label.form-label.text-muted.fw-bold Location:
                                    select.form-control.form-control-lg(name='location', id='location', required)
                                        each location in locations
                                            option(value=location.location_code, selected=location.location_code === selectedLocation) #{location.location_name}
                                
                                div.row.g-2
                                    div.col-6
                                        button.btn.btn-success.btn-lg.w-100.location-btn(type='submit') 
                                            i.bi.bi-check.me-1
                                            span.d-none.d-sm-inline Set Location
                                            span.d-inline.d-sm-none Set
                                    div.col-6
                                        button.btn.btn-outline-secondary.btn-lg.w-100(type='button', onclick="window.location.href='/home'") 
                                            i.bi.bi-x.me-1
                                            span Cancel
                    
                    // Footer
                    div.text-center.mt-4
                        small.text-white-50 &copy; #{new Date().getFullYear()} PetroMath. All rights reserved.