body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}
h1 {
  background-color:  #b2dff1;
}

a {
  color: #00B7FF;
}

::placeholder {
  color:brown !important;
  font-style: italic;
  font-size: 12px;
  
}

::-webkit-input-placeholder { /* Edge */
  color: red !important;
  font-style: italic;
  font-size: 12px;
}

::-moz-placeholder {
  color:red !important;
  font-style: italic;
  font-size: 12px;
}

::-ms-placeholder {
  color:red !important;
  font-style: italic;
  font-size: 12px;
}


.div-border
{
  border:1px solid #000000;
}

.cb-lb {
  padding-left: .5rem;
}

.highlight {
  border: 2px solid red;
}

.disabledInputs {
  pointer-events: none;
  opacity: 0.4;
}

.bgImage {
  /* The image used */
   background-image: url("../images/homepage.jpg");

   height:550px;

  /* Full height */
  background-position: center;
  background-size: cover;
}

/*
Snackbar toast message - start
 */

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/*
Snackbar toast message - end
 */

/*
ajax-loading image changes - start
 */

#ajax-loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: relative;
  top: 250px;
  z-index: 100;
}

/*
ajax-loading image changes - end
 */
#truckload_tab.nav-link.active {
  background-color:lightblue
}
#expense_tab.nav-link.active {
  background-color:lightblue
}


